/.metadata/
/Servers/
/PianoPRJ/target/
/PianoPRJ/.classpath
/PianoPRJ/WebContent/WEB-INF/classes
/hanium-speech-74b3005e8b45.json
.DS_Store
/RemoteSystemsTempFiles/
/PianoPRJ/src/poly/util/PrivateUtil.java