<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IDealMapper">
<insert id="insertDeal">
	INSERT INTO DEAL(
		DEAL_SEQ,
		REQ_SEQ,
		REQUESTER_SEQ,
		TUNER_SEQ,
		POSSIBLE_DATE,
		DIAGNOSIS_CONTENT,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		REGDATE,
		UPDDATE,
		UPDATER_SEQ,
		DEAL_STATE,
		DEAL_TYPE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	)VALUES(
		DEAL_SEQ.NEXTVAL,
		#{req_seq},
		#{requester_seq},
		#{tuner_seq},
		#{possible_date},
		#{diagnosis_content},
		#{tuning_price},
		#{regul_price},
		#{voicing_price},
		#{transport_price},
		#{other_price},
		SYSDATE,
		SYSDATE,
		#{tuner_seq},
		#{deal_state},
		#{deal_type},
		#{tuning_ea},
		#{regul_ea},
		#{voicing_ea},
		#{transport_ea}
	)
	

</insert>
<select id="getBiddingList" resultType="DealDTO">
SELECT * FROM
	(SELECT
		ROWNUM AS RN,
		DEAL_SEQ,
		REQUESTER_NICK,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM
		(SELECT
			DEAL_SEQ,
			(SELECT USER_NICK FROM USERINFO WHERE USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
			TUNING_PRICE,
			REGUL_PRICE,
			VOICING_PRICE,
			TRANSPORT_PRICE,
			OTHER_PRICE,
			TUNING_EA,
			REGUL_EA,
			VOICING_EA,
			TRANSPORT_EA
		FROM DEAL WHERE TUNER_SEQ=#{user_seq}
		AND DEAL_STATE=0
		ORDER BY DEAL_SEQ DESC))
	WHERE RN BETWEEN #{start} AND #{end}
	
</select>
<select id="getBiddingListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM DEAL WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE=0
</select>
<select id="getDealDetail" parameterType="String" resultType="DealDTO">
	SELECT * FROM DEAL WHERE DEAL_SEQ=#{0}
</select>
<update id="bidCancel" parameterType="String">
	UPDATE DEAL SET DEAL_STATE=1
	WHERE DEAL_SEQ=#{0}
	AND DEAL_STATE=0
</update>
<select id="getPastDeals" resultType="DealDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			DEAL_SEQ,
			REQUESTER_NICK,
			TUNING_PRICE,
			REGUL_PRICE,
			VOICING_PRICE,
			TRANSPORT_PRICE,
			OTHER_PRICE,
			TUNING_EA,
			REGUL_EA,
			VOICING_EA,
			TRANSPORT_EA,
			DEAL_STATE
		FROM
			(SELECT
				DEAL_SEQ,
				(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
				TUNING_PRICE,
				REGUL_PRICE,
				VOICING_PRICE,
				TRANSPORT_PRICE,
				OTHER_PRICE,
				TUNING_EA,
				REGUL_EA,
				VOICING_EA,
				TRANSPORT_EA,
				DEAL_STATE
			FROM DEAL WHERE TUNER_SEQ=#{tuner_seq}
			AND DEAL_STATE IN (1,3,4,5,7,8,9)
			ORDER BY DEAL_SEQ DESC))
	WHERE RN BETWEEN #{start} AND #{end}
</select>
<select id="getPastDealsCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM DEAL WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE IN (1,3,4,5,7,8,9)
</select>
<select id="getReqBid" parameterType="String" resultType="DealDTO">
	SELECT * FROM
	(SELECT
		ROWNUM AS RN,
		DEAL_SEQ,
		TUNER_NAME,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA,
		DEAL_STATE,
		POSSIBLE_DATE
	
	FROM
		(SELECT
			D.DEAL_SEQ AS DEAL_SEQ,
			U.USER_NAME AS TUNER_NAME,
			D.TUNING_PRICE AS TUNING_PRICE,
			D.REGUL_PRICE AS REGUL_PRICE,
			D.VOICING_PRICE AS VOICING_PRICE,
			D.TRANSPORT_PRICE AS TRANSPORT_PRICE,
			D.OTHER_PRICE AS OTHER_PRICE,
			D.TUNING_EA AS TUNING_EA,
			D.REGUL_EA AS REGUL_EA,
			D.VOICING_EA AS VOICING_EA,
			D.TRANSPORT_EA AS TRANSPORT_EA,
			D.DEAL_STATE AS DEAL_STATE,
			D.POSSIBLE_DATE AS POSSIBLE_DATE
		FROM
			DEAL D, USERINFO U
		WHERE
			D.TUNER_SEQ=U.USER_SEQ
			AND D.REQ_SEQ=#{req_seq}
			AND D.DEAL_STATE=0))
	WHERE RN BETWEEN #{start} AND #{end}
</select>
<select id="getReqBidCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		DEAL
	WHERE
		REQ_SEQ=#{0}
		AND DEAL_STATE=0
</select>
<select id="getPrivateEstimate" parameterType="String" resultType="DealDTO">
	SELECT
		D.DEAL_SEQ AS DEAL_SEQ,
		U.USER_NAME AS TUNER_NAME,
		D.TUNING_PRICE AS TUNING_PRICE,
		D.DIAGNOSIS_CONTENT AS DIAGNOSIS_CONTENT,
		D.REGUL_PRICE AS REGUL_PRICE,
		D.VOICING_PRICE AS VOICING_PRICE,
		D.TRANSPORT_PRICE AS TRANSPORT_PRICE,
		D.OTHER_PRICE AS OTHER_PRICE,
		D.TUNING_EA AS TUNING_EA,
		D.REGUL_EA AS REGUL_EA,
		D.VOICING_EA AS VOICING_EA,
		D.TRANSPORT_EA AS TRANSPORT_EA,
		D.DEAL_STATE AS DEAL_STATE,
		D.POSSIBLE_DATE AS POSSIBLE_DATE
	FROM
		DEAL D, USERINFO U
	WHERE
		D.TUNER_SEQ=U.USER_SEQ
		AND D.REQ_SEQ=#{0}
		AND D.DEAL_STATE=0
</select>
<update id="auctionOff" parameterType="String">
	UPDATE DEAL SET
		DEAL_STATE = CASE
			WHEN (DEAL_SEQ=#{0}) THEN 2
			WHEN (DEAL_SEQ&lt;&gt;#{0} AND DEAL_STATE=0) THEN 3
			ELSE DEAL_STATE
		END,
		UPDDATE = SYSDATE
	WHERE REQ_SEQ=#{1} AND REQUESTER_SEQ=#{2}
</update>
<update id="declineDeal" parameterType="String">
	UPDATE DEAL SET
		DEAL_STATE = 9
	WHERE REQ_SEQ=#{1} AND REQUESTER_SEQ=#{2}
</update>
<select id="getUserDealList" parameterType="DealDTO" resultType="DealDTO">
<![CDATA[
SELECT DEAL_SEQ, TUNER_NAME, POSSIBLE_DATE, DEAL_STATE FROM
(SELECT ROWNUM AS RN, DEAL_SEQ, TUNER_NAME, POSSIBLE_DATE, DEAL_STATE FROM
	(SELECT
		DEAL_SEQ,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.TUNER_SEQ) AS TUNER_NAME,
		POSSIBLE_DATE,
		DEAL_STATE,
	    REQUESTER_SEQ
	FROM
		DEAL
    WHERE
      REQUESTER_SEQ=#{requester_seq}
      AND DEAL_STATE NOT IN (0, 1, 3)
	  ORDER BY POSSIBLE_DATE DESC))
WHERE RN BETWEEN #{startIndex}+1 AND #{startIndex}+#{cntPerPage}

]]>
	
</select>
<select id="getUserDealListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(*)
	FROM
		DEAL
	WHERE REQUESTER_SEQ=#{0}
	AND DEAL_STATE NOT IN (0, 1, 3)
	ORDER BY DEAL_SEQ DESC
</select>
<select id="getTunerDealList" resultType="DealDTO">
SELECT * FROM
	(SELECT 
		ROWNUM AS RN,
		DEAL_SEQ,
		REQUESTER_NICK,
		POSSIBLE_DATE,
		DEAL_STATE,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM
		(SELECT
			DEAL_SEQ,
			(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
			POSSIBLE_DATE,
			DEAL_STATE,
			TUNING_PRICE,
			REGUL_PRICE,
			VOICING_PRICE,
			TRANSPORT_PRICE,
			OTHER_PRICE,
			TUNING_EA,
			REGUL_EA,
			VOICING_EA,
			TRANSPORT_EA
		FROM
			DEAL
		WHERE TUNER_SEQ=#{user_seq}
		AND DEAL_STATE IN(2, 6, 10)
		ORDER BY POSSIBLE_DATE DESC))
WHERE RN BETWEEN #{start} AND #{end}
</select>
<select id="getTunerDealListCnt" parameterType="String" resultType="Integer">
SELECT COUNT(1) FROM DEAL
	WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE IN(2, 6, 10)
</select>
<update id="dealCancel">
	UPDATE DEAL SET
		<if test="user_type==0">
		DEAL_STATE=4
		</if>
		<if test="user_type==1">
		DEAL_STATE=5
		</if>
	WHERE
		DEAL_SEQ=#{0}
		<if test="user_type==0">
		AND REQUESTER_SEQ=#{1}
		</if>
		<if test="user_type==1">
		AND TUNER_SEQ=#{1}
		</if>
</update>
<update id="dealConfirm">
	UPDATE DEAL SET
		<if test="user_type==0">
		DEAL_STATE=7
		</if>
		<if test="user_type==1">
		DEAL_STATE=6
		</if>
	WHERE
		DEAL_SEQ=#{0}
		<if test="user_type==0">
		AND REQUESTER_SEQ=#{1}
		</if>
		<if test="user_type==1">
		AND TUNER_SEQ=#{1}
		</if>
</update>
<insert id="insertReschedule" parameterType="RescheduleDTO">
	INSERT INTO RESCHEDULE(
		RESCHEDULE_SEQ,
		DEAL_SEQ,
		REQUESTER_SEQ,
		CHG_DATE,
		CHG_REASON,
		UPDATER_SEQ,
		REQUESTER_TYPE
	)VALUES(
		RESCHEDULE_SEQ.NEXTVAL,
		#{deal_seq},
		#{requester_seq},
		#{chg_date},
		#{chg_reason},
		#{requester_seq},
		#{requester_type}
	)
</insert>
<select id="getUpcomingDeals" parameterType="String" resultType="DealDTO">
<![CDATA[
	SELECT
		DEAL_SEQ,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		POSSIBLE_DATE,
		DEAL_STATE,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM
		DEAL
	WHERE TUNER_SEQ=#{tuner_seq}
	AND DEAL_STATE IN (2,10)
	AND SUBSTR(POSSIBLE_DATE, 1, 10) >= #{today}
	ORDER BY POSSIBLE_DATE
]]>
	
</select>
<select id="getUserUpcomingDeals" parameterType="String" resultType="DealDTO">
<![CDATA[
	SELECT
		DEAL_SEQ,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.TUNER_SEQ) AS TUNER_NAME,
		POSSIBLE_DATE,
		DEAL_STATE,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM
		DEAL
	WHERE REQUESTER_SEQ=#{user_seq}
	AND DEAL_STATE IN (2,10)
	AND SUBSTR(POSSIBLE_DATE, 1, 10) >= #{today}
	ORDER BY POSSIBLE_DATE
]]>
</select>
<select id="getUpcomingDealDates" parameterType="String" resultType="String">
<![CDATA[
	SELECT
		UNIQUE(SUBSTR(POSSIBLE_DATE, 1, 10))
	FROM
		DEAL
	WHERE
		SUBSTR(POSSIBLE_DATE, 1, 10) >= #{today}
		AND DEAL_STATE IN(2, 6, 10)
		AND TUNER_SEQ=#{tuner_seq}
]]>
	
</select>
<select id="getDealByDay" parameterType="String" resultType="DealDTO">
	SELECT
		DEAL_SEQ,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		POSSIBLE_DATE,
		DEAL_STATE,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM
		DEAL
	WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE IN(2, 6, 10)
	AND SUBSTR(POSSIBLE_DATE, 1, 10)=#{1}
	ORDER BY POSSIBLE_DATE
</select>
<select id="getBidPlacedReqs" parameterType="String" resultType="Integer">
	SELECT
		REQ_SEQ
	FROM
		DEAL
	WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE=0
</select>

<select id="getDealList" parameterType="DealDTO" resultType="DealDTO">
<![CDATA[
SELECT DEAL_SEQ, TUNER_NAME, REQUESTER_NICK, POSSIBLE_DATE, DEAL_STATE FROM
(SELECT ROWNUM AS RN, DEAL_SEQ, REQUESTER_NICK, TUNER_NAME, POSSIBLE_DATE, DEAL_STATE FROM
	(SELECT
		DEAL_SEQ,
		(SELECT USER_NICK FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.TUNER_SEQ) AS TUNER_NAME,
		POSSIBLE_DATE,
		DEAL_STATE,
	    REQUESTER_SEQ
	FROM
		DEAL
	ORDER BY REGDATE DESC))
WHERE RN BETWEEN #{start} AND #{end}

]]>
	
</select>
<select id="getDealListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(*)
	FROM
		DEAL
</select>
<update id="updateDate" parameterType="RescheduleDTO">
	UPDATE
		DEAL
	SET
		POSSIBLE_DATE=#{chg_date}
	WHERE
		DEAL_SEQ=#{deal_seq}
</update>

<update id="setDealState" parameterType="String">
	UPDATE
		DEAL
	SET
		DEAL_STATE=#{1}
	WHERE
		DEAL_SEQ=#{0}
</update>
<select id="getRescheduleInfo" parameterType="String" resultType="RescheduleDTO">
	SELECT
		RESCHEDULE_SEQ,
		DEAL_SEQ,
		REQUESTER_SEQ,
		CHG_DATE,
		CHG_REASON,
		REQUESTER_TYPE
	FROM
		RESCHEDULE
	WHERE
		REQ_STATE=0
		AND DEAL_SEQ=#{0}
</select>
<update id="rescheduleRespond" parameterType="String">
	UPDATE
		RESCHEDULE
	SET
		REQ_STATE=#{1}
	WHERE
		RESCHEDULE_SEQ=#{0}
</update>
</mapper>