<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IDealMapper">
<insert id="insertDeal">
	INSERT INTO DEAL(
		DEAL_SEQ,
		REQ_SEQ,
		REQUESTER_SEQ,
		TUNER_SEQ,
		POSSIBLE_DATE,
		DIAGNOSIS_CONTENT,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		REGDATE,
		UPDDATE,
		UPDATER_SEQ,
		DEAL_STATE,
		DEAL_TYPE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	)VALUES(
		DEAL_SEQ.NEXTVAL,
		#{req_seq},
		#{requester_seq},
		#{tuner_seq},
		#{possible_date},
		#{diagnosis_content},
		#{tuning_price},
		#{regul_price},
		#{voicing_price},
		#{transport_price},
		#{other_price},
		SYSDATE,
		SYSDATE,
		#{tuner_seq},
		#{deal_state},
		#{deal_type},
		#{tuning_ea},
		#{regul_ea},
		#{voicing_ea},
		#{transport_ea}
	)
	

</insert>
<select id="getBiddingList" parameterType="String" resultType="DealDTO">
	SELECT
		DEAL_SEQ,
		(SELECT USER_NICK FROM USERINFO WHERE USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA
	FROM DEAL WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE=0
	ORDER BY DEAL_SEQ DESC
</select>
<select id="getDealDetail" parameterType="String" resultType="DealDTO">
	SELECT * FROM DEAL WHERE DEAL_SEQ=#{0}
</select>
<update id="bidCancel" parameterType="String">
	UPDATE DEAL SET DEAL_STATE=1
	WHERE DEAL_SEQ=#{0}
	AND DEAL_STATE=0
</update>
<select id="getPastDeals" parameterType="String" resultType="DealDTO">
	SELECT
		DEAL_SEQ,
		(SELECT USER_NICK FROM USERINFO WHERE USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		TUNING_PRICE,
		REGUL_PRICE,
		VOICING_PRICE,
		TRANSPORT_PRICE,
		OTHER_PRICE,
		TUNING_EA,
		REGUL_EA,
		VOICING_EA,
		TRANSPORT_EA,
		DEAL_STATE
	FROM DEAL WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE IN (1,3,4,5,7,8,9)
	ORDER BY DEAL_SEQ DESC
</select>
<select id="getReqBid" parameterType="String" resultType="DealDTO">
	SELECT
		D.DEAL_SEQ AS DEAL_SEQ,
		U.USER_NAME AS TUNER_NAME,
		D.TUNING_PRICE AS TUNING_PRICE,
		D.REGUL_PRICE AS REGUL_PRICE,
		D.VOICING_PRICE AS VOICING_PRICE,
		D.TRANSPORT_PRICE AS TRANSPORT_PRICE,
		D.OTHER_PRICE AS OTHER_PRICE,
		D.TUNING_EA AS TUNING_EA,
		D.REGUL_EA AS REGUL_EA,
		D.VOICING_EA AS VOICING_EA,
		D.TRANSPORT_EA AS TRANSPORT_EA,
		D.DEAL_STATE AS DEAL_STATE,
		D.POSSIBLE_DATE AS POSSIBLE_DATE
	FROM
		DEAL D, USERINFO U
	WHERE
		D.TUNER_SEQ=U.USER_SEQ
		AND D.REQ_SEQ=#{0}
		AND D.DEAL_STATE=0
</select>
<select id="getPrivateEstimate" parameterType="String" resultType="DealDTO">
	SELECT
		D.DEAL_SEQ AS DEAL_SEQ,
		U.USER_NAME AS TUNER_NAME,
		D.TUNING_PRICE AS TUNING_PRICE,
		D.DIAGNOSIS_CONTENT AS DIAGNOSIS_CONTENT,
		D.REGUL_PRICE AS REGUL_PRICE,
		D.VOICING_PRICE AS VOICING_PRICE,
		D.TRANSPORT_PRICE AS TRANSPORT_PRICE,
		D.OTHER_PRICE AS OTHER_PRICE,
		D.TUNING_EA AS TUNING_EA,
		D.REGUL_EA AS REGUL_EA,
		D.VOICING_EA AS VOICING_EA,
		D.TRANSPORT_EA AS TRANSPORT_EA,
		D.DEAL_STATE AS DEAL_STATE,
		D.POSSIBLE_DATE AS POSSIBLE_DATE
	FROM
		DEAL D, USERINFO U
	WHERE
		D.TUNER_SEQ=U.USER_SEQ
		AND D.REQ_SEQ=#{0}
		AND D.DEAL_STATE=0
</select>
<update id="auctionOff" parameterType="String">
	UPDATE DEAL SET
		DEAL_STATE = CASE
			WHEN (DEAL_SEQ=#{0}) THEN 2
			WHEN (DEAL_SEQ&lt;&gt;#{0} AND DEAL_STATE=0) THEN 3
			ELSE DEAL_STATE
		END
	WHERE REQ_SEQ=#{1} AND REQUESTER_SEQ=#{2}
</update>
<update id="declineDeal" parameterType="String">
	UPDATE DEAL SET
		DEAL_STATE = 9
	WHERE REQ_SEQ=#{1} AND REQUESTER_SEQ=#{2}
</update>
<select id="getUserDealList" parameterType="String" resultType="DealDTO">
	SELECT
		DEAL_SEQ,
		(SELECT USER_NAME FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.TUNER_SEQ) AS TUNER_NAME,
		POSSIBLE_DATE,
		DEAL_STATE
	FROM
		DEAL
	WHERE REQUESTER_SEQ=#{0}
	AND DEAL_STATE NOT IN (0, 1, 3)
	ORDER BY DEAL_SEQ DESC
</select>
<select id="getTunerDealList" parameterType="String" resultType="DealDTO">
	SELECT
		DEAL_SEQ,
		(SELECT USER_NICK FROM USERINFO WHERE USERINFO.USER_SEQ=DEAL.REQUESTER_SEQ) AS REQUESTER_NICK,
		POSSIBLE_DATE,
		DEAL_STATE
	FROM
		DEAL
	WHERE TUNER_SEQ=#{0}
	AND DEAL_STATE IN(2, 6)
	ORDER BY DEAL_SEQ DESC
</select>
<update id="dealCancel">
	UPDATE DEAL SET
		<if test="user_type==0">
		DEAL_STATE=4
		</if>
		<if test="user_type==1">
		DEAL_STATE=5
		</if>
	WHERE
		DEAL_SEQ=#{0}
		<if test="user_type==0">
		AND REQUESTER_SEQ=#{1}
		</if>
		<if test="user_type==1">
		AND TUNER_SEQ=#{1}
		</if>
</update>
<update id="dealConfirm">
	UPDATE DEAL SET
		<if test="user_type==0">
		DEAL_STATE=7
		</if>
		<if test="user_type==1">
		DEAL_STATE=6
		</if>
	WHERE
		DEAL_SEQ=#{0}
		<if test="user_type==0">
		AND REQUESTER_SEQ=#{1}
		</if>
		<if test="user_type==1">
		AND TUNER_SEQ=#{1}
		</if>
</update>
<insert id="insertReschedule" parameterType="RescheduleDTO">
	INSERT INTO RESCHEDULE(
		RESCHEDULE_SEQ,
		DEAL_SEQ,
		REQUESTER_SEQ,
		CHG_DATE,
		CHG_REASON,
		UPDATER_SEQ
	)VALUES(
		RESCHEDULE_SEQ.NEXTVAL,
		#{deal_seq},
		#{requester_seq},
		#{chg_date},
		#{chg_reason},
		#{requester_seq}
	)
</insert>
<select id="getUpcomingDeals" parameterType="String" resultType="String">
<![CDATA[
	SELECT
		UNIQUE(SUBSTR(POSSIBLE_DATE, 1, 10))
	FROM
		DEAL
	WHERE
		SUBSTR(POSSIBLE_DATE, 1, 10) >= #{today}
		AND TUNER_SEQ=#{tuner_seq}
]]>
	
</select>
</mapper>