<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IFollowMapper">
<insert id="followTuner">
	INSERT INTO TUNER_FOLLOW(USER_SEQ, TUNER_SEQ)
	VALUES(#{0}, #{1})
</insert>
<select id="getFollowingList" parameterType="String" resultType="TunerDTO">
	SELECT
		(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=TUNER.TUNER_SEQ) AS TUNER_NAME,
		TUNER_SEQ,
		TUNER_COMMENT,
		TUNER_LEVEL,
		ID_PHOTO_DIR,
		AFFILIATION,
		SIDO_NAME,
		SGG_NAME,
		(SELECT SUM(REVIEW_STAR) FROM TUNER_REVIEW WHERE TUNER_SEQ=TUNER.TUNER_SEQ) AS SCORE
	FROM
		TUNER
	WHERE
		TUNER_SEQ IN(
			SELECT TUNER_SEQ FROM TUNER_FOLLOW WHERE USER_SEQ=#{0}
			)
</select>
<delete id="removeFollow" parameterType="String">
	DELETE FROM TUNER_FOLLOW
	WHERE USER_SEQ=#{0} AND TUNER_SEQ=#{1}
</delete>
<select id="verifyFollow" parameterType="String" resultType="Integer">
	SELECT 
		COUNT(1)
	FROM 
		TUNER_FOLLOW
	WHERE
		TUNER_SEQ=#{tuner_seq}
		AND USER_SEQ=#{user_seq}
</select>
</mapper>