<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.INoticeMapper">

	<!-- 게시판 리스트 쿼리 -->
	<select id="getNoticeList" resultType="NoticeDTO">
		SELECT
			NOTICE_SEQ,
			WRITER_SEQ,
			NOTICE_TITLE,
			REGDATE,
			NOTICE_COUNT
		FROM NOTICE
		WHERE TOP&lt;&gt;'Y'
		ORDER BY NOTICE_SEQ DESC
	</select>
	<select id="getTopNoticeList" resultType="NoticeDTO">
		SELECT
			NOTICE_SEQ,
			WRITER_SEQ,
			NOTICE_TITLE,
			REGDATE,
			NOTICE_COUNT
		FROM NOTICE
		WHERE TOP='Y'
		ORDER BY NOTICE_SEQ DESC
	</select>
	
	<!-- 게시판 등록 쿼리 -->
	<insert id="insertNoticeInfo" parameterType="NoticeDTO">
		INSERT INTO NOTICE
			(
				NOTICE_SEQ,
				WRITER_SEQ,
				NOTICE_TITLE,
				NOTICE_CONTENT,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ,
				TOP
			)
		VALUES(
			NOTICE_SEQ.NEXTVAL,
			#{writer_seq},
			#{notice_title},
			#{notice_content},
			SYSDATE,
			SYSDATE,
			#{writer_seq},
			#{top}
			
		)
	</insert>
	
	<!-- 게시판 상세보기 쿼리 -->
	<select id="getNoticeInfo" resultType="NoticeDTO">
		SELECT NOTICE_SEQ, NOTICE_TITLE, NOTICE_COUNT,
			   NOTICE_CONTENT, TO_CHAR(REGDATE, 'YYYY-MM-DD') AS REGDATE, TOP
	      FROM NOTICE
	       WHERE NOTICE_SEQ = #{notice_seq}
	</select>
	

	
	<!-- 게시판 등록 쿼리 -->
	<update id="updateNoticeReadCnt" parameterType="NoticeDTO">
		UPDATE NOTICE SET
			NOTICE_COUNT = NOTICE_COUNT + 1
		WHERE
			NOTICE_SEQ = #{notice_seq}		
	</update>

	<!-- 게시판 수정 쿼리 -->
	<update id="updateNoticeInfo" parameterType="NoticeDTO">
		UPDATE NOTICE SET
			NOTICE_TITLE = #{notice_title},
			TOP = #{top},
			NOTICE_CONTENT = #{notice_content},
			UPDATER_SEQ = #{updater_seq},
			UPDDATE = SYSDATE
		WHERE
			NOTICE_SEQ = #{notice_seq}	
			
	</update>

	<!-- 게시판 삭제 쿼리 -->
	<delete id="deleteNoticeInfo" parameterType="NoticeDTO">
		DELETE FROM NOTICE
		WHERE NOTICE_SEQ = #{notice_seq}	
			
	</delete>
			
</mapper>