<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IPianoMapper">
	<insert id="insertPiano">
	INSERT INTO PIANO(
		PIANO_SEQ,
		OWNER_SEQ,
		PIANO_NAME,
		PIANO_DESC,
		BRAND,
		SERIAL,
		PIANO_TYPE,
		ADDR,
		PLAYER_TYPE,
		LAST_TUNED_DATE,
		PIANO_PHOTO_DIR,
		SGG_CODE,
		X_POS,
		Y_POS,
		SIDO_NAME,
		SGG_NAME,
		EMD_NAME,
		LI_NAME,
		REGDATE,
		REGSEQ,
		UPDDATE,
		UPDSEQ
	)VALUES(
		PIANO_SEQ.NEXTVAL,
		#{owner_seq},
		#{piano_name},
		#{piano_desc},
		#{brand},
		#{serial},
		#{piano_type},
		#{addr},
		#{player_type},
		#{last_tuned_date},
		#{piano_photo_dir},
		#{sgg_code},
		#{x_pos},
		#{y_pos},
		#{sido_name},
		#{sgg_name},
		#{emd_name},
		#{li_name},
		SYSDATE,
		#{owner_seq},
		SYSDATE,
		#{owner_seq}
	)
	<selectKey keyProperty="piano_seq" resultType="String" order="AFTER">
			SELECT PIANO_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<select id="getMyPianoList" parameterType="String" resultType="PianoDTO">
	SELECT
		PIANO_SEQ,
		PIANO_NAME,
		PIANO_DESC,
		BRAND,
		PIANO_TYPE,
		PIANO_PHOTO_DIR,
		LAST_TUNED_DATE
	FROM PIANO
	WHERE OWNER_SEQ=#{0}
	AND DELETED=0
	</select>
	<select id="getPianoDetail" parameterType="String" resultType="PianoDTO">
	SELECT
		OWNER_SEQ,
		PIANO_SEQ,
		SERIAL,
		PLAYER_TYPE,
		ADDR,
		PIANO_PHOTO_DIR,
		PIANO_NAME,
		PIANO_DESC,
		BRAND,
		PIANO_TYPE,
		LAST_TUNED_DATE,
		DELETED
	FROM PIANO
	WHERE PIANO_SEQ=#{piano_seq}
	<if test="user_seq!=null">
	AND OWNER_SEQ=#{user_seq}
	</if>
	</select>
	<update id="deletePiano" parameterType="String">
	UPDATE
		PIANO
	SET
		DELETED=1
	WHERE
		PIANO_SEQ=#{piano_seq}
	<if test="user_seq!=null">
	AND OWNER_SEQ=#{user_seq}
	</if>
	</update>
	<select id="getPianoEditInfo" parameterType="String" resultType="PianoDTO">
	SELECT
		PIANO_SEQ,
		OWNER_SEQ,
		PIANO_NAME,
		PIANO_DESC,
		BRAND,
		SERIAL,
		PIANO_TYPE,
		ADDR,
		PLAYER_TYPE,
		LAST_TUNED_DATE,
		SGG_CODE,
		X_POS,
		Y_POS,
		SIDO_NAME,
		SGG_NAME,
		EMD_NAME,
		LI_NAME,
		DELETED
	FROM PIANO
	WHERE PIANO_SEQ = #{piano_seq}
	<if test="user_seq!=null">
	AND OWNER_SEQ=#{user_seq}
	</if>
	</select>
	<update id="updatePiano" parameterType="PianoDTO">
	UPDATE PIANO SET
		PIANO_NAME = #{piano_name},
		PIANO_DESC = #{piano_desc},
		BRAND = #{brand},
		SERIAL = #{serial},
		PIANO_TYPE = #{piano_type},
		ADDR = #{addr},
		PLAYER_TYPE = #{player_type},
	<if test="piano_photo_dir!=null">
		PIANO_PHOTO_DIR = #{piano_photo_dir},
	</if>
		LAST_TUNED_DATE = #{last_tuned_date},
		SGG_CODE = #{sgg_code},
		X_POS = #{x_pos},
		Y_POS = #{y_pos},
		SIDO_NAME = #{sido_name},
		SGG_NAME = #{sgg_name},
		EMD_NAME = #{emd_name},
		LI_NAME = #{li_name},
		UPDDATE = SYSDATE,
		UPDSEQ = #{owner_seq}
	WHERE PIANO_SEQ = #{piano_seq}
	</update>
	<select id="getPianoCurrVal" resultType="Integer">
	SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME='PIANO_SEQ'
	</select>
</mapper>