<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IPriceMapper">
<select id="getMarketPrice" parameterType="String" resultType="PriceDTO">
SELECT
  POSSIBLE_DATE AS DEAL_DATE,
  ROUND(SUM(TUNING_TOTAL)/SUM(TUNING_EA)) AS TUNING_AVG,
  ROUND(SUM(REGUL_TOTAL)/SUM(REGUL_EA)) AS REGUL_AVG,
  ROUND(SUM(VOICING_TOTAL)/SUM(VOICING_EA)) AS VOICING_AVG,
  ROUND(SUM(TRANSPORT_TOTAL)/SUM(TRANSPORT_EA)) AS TRANSPORT_AVG
FROM
  (SELECT
    SUBSTR(POSSIBLE_DATE, 1, 10) AS POSSIBLE_DATE,
    TUNING_PRICE*TUNING_EA AS TUNING_TOTAL,
    REGUL_PRICE*REGUL_EA AS REGUL_TOTAL,
    VOICING_PRICE*VOICING_EA AS VOICING_TOTAL,
    TRANSPORT_PRICE*TRANSPORT_EA AS TRANSPORT_TOTAL,
    TUNING_EA,
    REGUL_EA,
    VOICING_EA,
    TRANSPORT_EA
  FROM
    DEAL
  WHERE
    SUBSTR(POSSIBLE_DATE, 1, 10) BETWEEN #{0} AND #{1}
    AND DEAL_STATE=7)
GROUP BY
  POSSIBLE_DATE
ORDER BY
  DEAL_DATE
</select>
</mapper>