<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IRepuMapper">
<select id="getRepu" parameterType="String" resultType="RepuDTO">
SELECT
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_TECH=2 AND TUNER_SEQ=#{0}) AS TECH_POS,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_TECH=1 AND TUNER_SEQ=#{0}) AS TECH_NEUTRAL,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_TECH=0 AND TUNER_SEQ=#{0}) AS TECH_NEG,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_PUNCTUAL=2 AND TUNER_SEQ=#{0}) AS PUNCTUAL_POS,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_PUNCTUAL=1 AND TUNER_SEQ=#{0}) AS PUNCTUAL_NEUTRAL,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_PUNCTUAL=0 AND TUNER_SEQ=#{0}) AS PUNCTUAL_NEG,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_KINDNESS=2 AND TUNER_SEQ=#{0}) AS KINDNESS_POS,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_KINDNESS=1 AND TUNER_SEQ=#{0}) AS KINDNESS_NEUTRAL,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE REVIEW_KINDNESS=0 AND TUNER_SEQ=#{0}) AS KINDNESS_NEG,
	(SELECT NVL(SUM(REVIEW_STAR), 0) FROM TUNER_REVIEW WHERE TUNER_SEQ=#{0}) AS SCORE,
	(SELECT COUNT(1) FROM DEAL WHERE TUNER_SEQ=#{0} AND DEAL_STATE IN(5, 7)) AS TOTAL_DEALS,
	(SELECT COUNT(1) FROM DEAL WHERE TUNER_SEQ=#{0} AND DEAL_STATE=7) AS SUCCESS_DEALS,
	(SELECT COUNT(1) FROM TUNER_REVIEW WHERE TUNER_SEQ=#{0}) AS TOTAL_REVIEWS,
	(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=#{0}) AS TUNER_NAME,
	(SELECT USER_STATE FROM USERINFO WHERE USER_SEQ=#{0}) AS USER_STATE
FROM DUAL
</select>
</mapper>