<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IReqMapper">

	<!-- 시군구 모두 얻기 -->
	<insert id="insertReq" parameterType="ReqDTO">
	INSERT INTO REQUEST(
		REQ_SEQ,
		USER_SEQ,
		PIANO_SEQ,
		REQ_CONTENT,
		PHOTO_DIR,
		PREF_DATE,
		REGDATE,
		UPDDATE,
		UPDATER_SEQ,
		REQ_TITLE,
		PRIVATE_SEQ
	)VALUES(
		REQ_SEQ.NEXTVAL,
		#{user_seq},
		#{piano_seq},
		#{req_content},
		#{photo_dir},
		#{pref_date},
		SYSDATE,
		SYSDATE,
		#{user_seq},
		#{req_title},
		#{private_seq}
	)
	<selectKey keyProperty="req_seq" resultType="String" order="AFTER">
			SELECT REQ_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<select id="getPublicReqList" parameterType="ReqDTO" resultType="ReqDTO">
	SELECT
		REQ_SEQ,
		PIANO_SEQ,
		PIANO_NAME,
		REQ_TITLE,
		REGDATE,
		BIDS
	FROM
		(SELECT
			ROWNUM AS RN,
			REQ_SEQ,
			PIANO_SEQ,
			PIANO_NAME,
			REQ_TITLE,
			REGDATE,
			BIDS
		FROM
			(SELECT
				R.REQ_SEQ AS REQ_SEQ,
				R.PIANO_SEQ AS PIANO_SEQ,
				P.PIANO_NAME AS PIANO_NAME,
				R.REQ_TITLE AS REQ_TITLE,
				R.REGDATE AS REGDATE,
				NVL((SELECT COUNT(1) FROM DEAL WHERE DEAL_STATE=0 GROUP BY REQ_SEQ HAVING REQ_SEQ=R.REQ_SEQ),0) AS BIDS
			FROM
				REQUEST R,
				PIANO P
			WHERE
				USER_SEQ=#{user_seq}
				AND  R.PIANO_SEQ=P.PIANO_SEQ
				AND R.PRIVATE_SEQ IS NULL
				AND R.REQ_STATE=0
			ORDER BY
				R.REGDATE DESC
			)
		)
	WHERE
		RN BETWEEN #{startIndex}+1 AND #{startIndex}+#{cntPerPage}
	</select>
	<select id="getPublicReqListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		REQUEST
	WHERE
		USER_SEQ=#{0}
		AND PRIVATE_SEQ IS NULL
		AND REQ_STATE=0
	</select>
	<select id="getPrivateReqList" parameterType="ReqDTO" resultType="ReqDTO">
	
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			REQ_SEQ,
			PIANO_NAME,
			REQ_TITLE,
			REGDATE,
			REQ_STATE,
			PRIVATE_TUNER_NAME,
			BIDS
		FROM
			(SELECT
				R.REQ_SEQ AS REQ_SEQ,
				R.PIANO_SEQ AS PIANO_SEQ,
				P.PIANO_NAME AS PIANO_NAME,
				R.REQ_TITLE AS REQ_TITLE,
				R.REGDATE AS REGDATE,
				R.REQ_STATE AS REQ_STATE,
				(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=R.PRIVATE_SEQ) AS PRIVATE_TUNER_NAME,
				NVL((SELECT COUNT(1) FROM DEAL WHERE DEAL_STATE=0 GROUP BY REQ_SEQ HAVING REQ_SEQ=R.REQ_SEQ),0) AS BIDS
			FROM
				REQUEST R,
				PIANO P
			WHERE
				USER_SEQ=#{user_seq}
				AND  R.PIANO_SEQ=P.PIANO_SEQ
				AND R.PRIVATE_SEQ IS NOT NULL
				AND R.REQ_STATE&lt;&gt;1))
	WHERE RN BETWEEN #{startIndex}+1 AND #{startIndex}+#{cntPerPage}
		
	</select>
	<select id="getPrivateReqListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		REQUEST
	WHERE
		USER_SEQ=#{0}
		AND PRIVATE_SEQ IS NOT NULL
		AND REQ_STATE&lt;&gt;1
	</select>
	<select id="getReqDetail" parameterType="String" resultType="ReqDTO">
	SELECT
		R.REQ_SEQ,
		R.USER_SEQ,
		R.PIANO_SEQ,
		R.REQ_TITLE,
		R.REQ_CONTENT,
		R.PRIVATE_SEQ,
		R.PREF_DATE,
		P.SIDO_NAME,
		P.SGG_NAME,
		R.PRIVATE_SEQ,
		R.REQ_STATE,
		R.PHOTO_DIR
	FROM
		REQUEST R, PIANO P
	WHERE
		REQ_SEQ=#{0}
		AND R.PIANO_SEQ=P.PIANO_SEQ
	</select>
	<update id="updateReq" parameterType="ReqDTO">
	UPDATE REQUEST SET
		<if test="photo_dir!=null">
		PHOTO_DIR=#{photo_dir},
		</if>
		REQ_TITLE=#{req_title},
		REQ_CONTENT=#{req_content},
		PREF_DATE=#{pref_date},
		UPDDATE=SYSDATE,
		UPDATER_SEQ=#{updater_seq}
	WHERE REQ_SEQ=#{req_seq}
	</update>
	<delete id="deleteReq" parameterType="String">
	DELETE FROM REQUEST WHERE REQ_SEQ=#{0} AND REQ_STATE=0
	</delete>
	<select id="getNearReqList" parameterType="String" resultType="ReqDTO">
	SELECT
		R.REQ_SEQ,
		R.REQ_TITLE,
		R.REQ_CONTENT,
		NVL((SELECT COUNT(1) FROM DEAL WHERE DEAL_STATE=0 GROUP BY REQ_SEQ HAVING REQ_SEQ=R.REQ_SEQ),0) AS BIDS,
		P.SIDO_NAME,
		P.SGG_NAME,
		P.X_POS,
		P.Y_POS,
		P.ADDR
	FROM REQUEST R, PIANO P
	WHERE 
		R.PIANO_SEQ=P.PIANO_SEQ
		<if test='!sgg_code.equals("00%")'>
		AND P.SGG_CODE LIKE #{sgg_code}
		</if>
		AND R.PRIVATE_SEQ IS NULL
		AND R.REQ_STATE=0
	</select>
	<update id="auctionOff" parameterType="String">
		UPDATE REQUEST SET REQ_STATE=1 WHERE REQ_SEQ=#{0}
	</update>
	<select id="getTunerPrivateReqList" resultType="ReqDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			REQ_SEQ,
			REQ_TITLE,
			REGDATE,
			REQUESTER_NICK,
			BIDS
		FROM
			(SELECT
				REQ_SEQ,
				REQ_TITLE,
				REGDATE,
				(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=REQUEST.USER_SEQ) AS REQUESTER_NICK,
				NVL((SELECT COUNT(1) FROM DEAL WHERE DEAL_STATE=0 GROUP BY REQ_SEQ HAVING REQ_SEQ=REQUEST.REQ_SEQ),0) AS BIDS
			FROM
				REQUEST
			WHERE
				PRIVATE_SEQ=#{tuner_seq}
				AND REQ_STATE=0)
			)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getTunerPrivateReqListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		REQUEST
	WHERE
		PRIVATE_SEQ=#{0}
		AND REQ_STATE=0
	</select>
	<update id="declineReq">
	UPDATE REQUEST
		SET REQ_STATE=2
	WHERE
		REQ_SEQ=#{0}
		AND PRIVATE_SEQ=#{1}
	</update>
	<select id="getReqCurrVal" resultType="Integer">
	SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME='REQ_SEQ'
	</select>
	<select id="getAllReqList" resultType="ReqDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			REQ_SEQ,
			REQ_TITLE,
			REGDATE,
			PRIVATE_SEQ,
			REQUESTER_NICK,
			BIDS
		FROM
			(SELECT
				REQ_SEQ,
				REQ_TITLE,
				REGDATE,
				PRIVATE_SEQ,
				(SELECT USER_NAME FROM USERINFO WHERE USER_SEQ=REQUEST.USER_SEQ) AS REQUESTER_NICK,
				NVL((SELECT COUNT(1) FROM DEAL WHERE DEAL_STATE=0 GROUP BY REQ_SEQ HAVING REQ_SEQ=REQUEST.REQ_SEQ),0) AS BIDS
			FROM
				REQUEST
			WHERE
				REQ_STATE=0
			ORDER BY
				REGDATE DESC	
			)
		)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getAllReqListCnt" resultType="Integer">
	SELECT COUNT(1) FROM REQUEST WHERE REQ_STATE=0
	</select>
</mapper>