<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IReviewMapper">
<insert id="insertReview" parameterType="ReviewDTO">
	INSERT INTO TUNER_REVIEW(
		DEAL_SEQ,
		WRITER_SEQ,
		TUNER_SEQ,
		REVIEW_TECH,
		REVIEW_PUNCTUAL,
		REVIEW_KINDNESS,
		REVIEW_CONTENT,
		REGDATE,
		UPDDATE,
		UPDATER_SEQ,
		REVIEW_STAR
	)VALUES(
		#{deal_seq},
		#{writer_seq},
		#{tuner_seq},
		#{review_tech},
		#{review_punctual},
		#{review_kindness},
		#{review_content},
		SYSDATE,
		SYSDATE,
		#{writer_seq},
		#{review_star}
	)
</insert>
<select id="getDealReview" parameterType="String" resultType="ReviewDTO">
	SELECT
		REVIEW_STAR,
		REVIEW_TECH,
		REVIEW_PUNCTUAL,
		REVIEW_KINDNESS,
		REVIEW_CONTENT
	FROM
		TUNER_REVIEW
	WHERE
		DEAL_SEQ=#{0}
</select>
<delete id="deleteReview" parameterType="String">
	DELETE FROM TUNER_REVIEW
	WHERE
		DEAL_SEQ=#{0}
		AND WRITER_SEQ=#{1}
</delete>
<select id="getReviewEditInfo" parameterType="String" resultType="ReviewDTO">
	SELECT
		REVIEW_STAR,
		REVIEW_TECH,
		REVIEW_PUNCTUAL,
		REVIEW_KINDNESS,
		REVIEW_CONTENT
	FROM
		TUNER_REVIEW
	WHERE
		DEAL_SEQ=#{0}
		AND WRITER_SEQ=#{1}
</select>
<update id="updateReview">
	UPDATE TUNER_REVIEW SET
		REVIEW_STAR=#{review_star},
		REVIEW_TECH=#{review_tech},
		REVIEW_PUNCTUAL=#{review_punctual},
		REVIEW_KINDNESS=#{review_kindness},
		REVIEW_CONTENT=#{review_content},
		UPDDATE=SYSDATE,
		UPDATER_SEQ=#{writer_seq}
	WHERE
		DEAL_SEQ=#{deal_seq}
		AND WRITER_SEQ=#{writer_seq}
</update>
<select id="getTunerReviewList" parameterType="String" resultType="ReviewDTO">
SELECT * FROM
	(SELECT
		ROWNUM AS RN,
		REVIEW_STAR,
		REVIEW_TECH,
		REVIEW_PUNCTUAL,
		REVIEW_KINDNESS,
		REVIEW_CONTENT,
		REGDATE,
		USER_NICK,
		USER_STATE
	FROM
	(SELECT
		REVIEW_STAR,
		REVIEW_TECH,
		REVIEW_PUNCTUAL,
		REVIEW_KINDNESS,
		REVIEW_CONTENT,
		REGDATE,
		(SELECT USER_NICK FROM USERINFO WHERE USER_SEQ=TUNER_REVIEW.WRITER_SEQ) AS USER_NICK,
		(SELECT USER_STATE FROM USERINFO WHERE USER_SEQ=TUNER_REVIEW.WRITER_SEQ) AS USER_STATE
	FROM
		TUNER_REVIEW
	WHERE
		TUNER_SEQ=#{user_seq}
	ORDER BY
		REGDATE DESC))
	
	WHERE RN BETWEEN #{start} AND #{end}
</select>
<select id="getTunerReviewListCnt" parameterType="String" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		TUNER_REVIEW
	WHERE
		TUNER_SEQ=#{0}
</select>
</mapper>