<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">
	<!-- 로그인 -->
	<select id="loginProc" resultType="UserDTO">
		SELECT * FROM USERINFO
		WHERE
		ID = #{id} AND PASSWORD = #{password}
	</select>
	<!-- 조율사 회원가입 -->
	<insert id="regTuner">
		INSERT ALL
			INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ
			) VALUES(
				USER_SEQ.NEXTVAL,
				1,
				#{u.id},
				#{u.email},
				#{u.password},
				#{u.user_name},
				#{u.user_sex},
				#{u.user_nick},
				#{u.user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL
			)
		
			INTO TUNER(
				TUNER_SEQ,
				ID_PHOTO_DIR,
				CERT_DIR,
				TUNER_COMMENT,
				TUNER_LEVEL,
				TUNER_EXP,
				ADDR,
				AFFILIATION,
				X_POS,
				Y_POS,
				SIDO_NAME,
				SGG_NAME,
				EMD_NAME,
				LI_NAME
			)
			VALUES(
				USER_SEQ.CURRVAL,
				#{t.id_photo_dir},
				#{t.cert_dir},
				#{t.tuner_comment},
				#{t.tuner_level},
				#{t.tuner_exp},
				#{t.addr},
				#{t.affiliation},
				#{t.x_pos},
				#{t.y_pos},
				#{t.sido_name},
				#{t.sgg_name},
				#{t.emd_name},
				#{t.li_name}
			)
		SELECT * FROM DUAL
		<selectKey keyProperty="u.user_seq" resultType="String" order="AFTER">
			SELECT USER_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<!-- 일반 회원가입 -->
	<insert id="regUser">
		INSERT INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ
			) VALUES(
				USER_SEQ.NEXTVAL,
				0,
				#{id},
				#{email},
				#{password},
				#{user_name},
				#{user_sex},
				#{user_nick},
				#{user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL
			)
	</insert>
	
	<insert id="addTunerSgg" parameterType="String">
	INSERT INTO TUNER_SGG VALUES(#{0}, #{1})
	</insert>
	<select id="checkID" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(ID) FROM USERINFO WHERE ID = #{value}
	</select>
	<select id="checkEmail" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(EMAIL) FROM USERINFO WHERE EMAIL = #{value}
	</select>
	<select id="findUserID" parameterType="String" resultType="String">
	SELECT ID FROM USERINFO WHERE EMAIL = #{email} 
	</select>
</mapper>