<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">
	<!-- 로그인 -->
	<select id="loginProc" resultType="UserDTO">
		SELECT * FROM USERINFO
		WHERE
		ID = #{id} AND PASSWORD = #{password} AND USER_STATE NOT IN(4)
	</select>
	<select id="pwCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(1) FROM USERINFO
		WHERE
		USER_SEQ = #{0} AND PASSWORD = #{1}
	</select>
	<!-- 조율사 회원가입 -->
	<insert id="regTuner">
		INSERT ALL
			INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ,
				USER_STATE
			) VALUES(
				USER_SEQ.NEXTVAL,
				1,
				#{u.id},
				#{u.email},
				#{u.password},
				#{u.user_name},
				#{u.user_sex},
				#{u.user_nick},
				#{u.user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL,
				0
			)
		
			INTO TUNER(
				TUNER_SEQ,
				ID_PHOTO_DIR,
				CERT_DIR,
				TUNER_COMMENT,
				TUNER_LEVEL,
				TUNER_EXP,
				ADDR,
				AFFILIATION,
				X_POS,
				Y_POS,
				SIDO_NAME,
				SGG_NAME,
				EMD_NAME,
				LI_NAME
			)
			VALUES(
				USER_SEQ.CURRVAL,
				#{t.id_photo_dir},
				#{t.cert_dir},
				#{t.tuner_comment},
				#{t.tuner_level},
				#{t.tuner_exp},
				#{t.addr},
				#{t.affiliation},
				#{t.x_pos},
				#{t.y_pos},
				#{t.sido_name},
				#{t.sgg_name},
				#{t.emd_name},
				#{t.li_name}
			)
		SELECT * FROM DUAL
		<selectKey keyProperty="u.user_seq" resultType="String" order="AFTER">
			SELECT USER_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<!-- 일반 회원가입 -->
	<insert id="regUser">
		INSERT INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ
			) VALUES(
				USER_SEQ.NEXTVAL,
				0,
				#{id},
				#{email},
				#{password},
				#{user_name},
				#{user_sex},
				#{user_nick},
				#{user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL
			)
	</insert>
	<update id="deleteUser" parameterType="String">
	UPDATE USERINFO SET USER_STATE=4 WHERE USER_SEQ=#{0}
	</update>
	<insert id="addTunerSgg" parameterType="String">
	INSERT INTO TUNER_SGG VALUES(#{0}, #{1})
	</insert>
	<delete id="clearTunerSgg" parameterType="String">
	DELETE FROM TUNER_SGG WHERE USER_SEQ=#{0}
	</delete>
	<select id="checkID" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(ID) FROM USERINFO WHERE ID = #{value}
	</select>
	<select id="checkEmail" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(EMAIL) FROM USERINFO WHERE EMAIL = #{value}
	</select>
	<select id="checkEditEmail" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(EMAIL) FROM USERINFO WHERE EMAIL = #{0} AND USER_SEQ &lt;&gt; #{1}
	</select>
	<select id="getUserSeqByEmail" parameterType="String" resultType="String">
	SELECT USER_SEQ FROM USERINFO WHERE EMAIL = #{0}
	</select>
	<select id="findUserID" parameterType="String" resultType="String">
	SELECT ID FROM USERINFO WHERE EMAIL = #{email} AND USER_STATE NOT IN(4)
	</select>
	<select id="recoverPw" resultType="UserDTO">
	SELECT USER_SEQ, PASSWORD, EMAIL FROM USERINFO WHERE ID = #{id} AND USER_STATE NOT IN(4)
	</select>
	<update id="shufflePw" parameterType="String">
	UPDATE USERINFO SET PASSWORD = #{0} WHERE ID = #{1}
	</update>
	<update id="recoverPwProc" parameterType="String">
	UPDATE USERINFO SET PASSWORD = #{0} WHERE PASSWORD = #{1}
	</update>
	
	<!-- myPage -->
	<select id="getUserInfo" parameterType="String" resultType="UserDTO">
	SELECT
		USER_SEQ,
		EMAIL,
		USER_NAME,
		USER_NICK,
		USER_TEL,
		USER_STATE,
		SUSPEND_REASON
	FROM USERINFO
	WHERE
		USER_SEQ = #{0}
	</select>
		<select id="getUserEditInfo" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		USER_SEQ,
		EMAIL,
		USER_NICK,
		USER_TEL,
		USER_TYPE
	FROM USERINFO
	WHERE
		USER_SEQ = #{user_seq}
	</select>
	<select id="getTunerInfo" parameterType="String" resultType="TunerDTO">
	SELECT
		T.TUNER_SEQ,
		T.REJECT_REASON,
		T.ID_PHOTO_DIR,
		T.CERT_DIR,
		T.TUNER_COMMENT,
		T.TUNER_LEVEL,
		T.TUNER_EXP,
		T.ADDR,
		T.AFFILIATION,
		U.USER_STATE
	FROM TUNER T, USERINFO U
	WHERE
		TUNER_SEQ = #{0}
		AND T.TUNER_SEQ=U.USER_SEQ
	</select>
	<select id="getTunerEditInfo" parameterType="String" resultType="TunerDTO">
	SELECT
		ID_PHOTO_DIR,
		CERT_DIR,
		TUNER_COMMENT,
		TUNER_LEVEL,
		TUNER_EXP,
		ADDR,
		AFFILIATION,
		X_POS,
		Y_POS,
		SIDO_NAME,
		SGG_NAME,
		EMD_NAME,
		LI_NAME
	FROM TUNER
	WHERE
		TUNER_SEQ = #{0}
	</select>
	<update id="updateTuner" parameterType="TunerDTO">
	UPDATE TUNER SET
		TUNER_COMMENT=#{tuner_comment},
		TUNER_LEVEL=#{tuner_level},
		TUNER_EXP=#{tuner_exp},
		<if test="id_photo_dir!=null">
		ID_PHOTO_DIR=#{id_photo_dir},
		</if>
		<if test="reject_reason!=null">
		REJECT_REASON=NULL,
		</if>
		ADDR=#{addr},
		AFFILIATION=#{affiliation},
		X_POS=#{x_pos},
		Y_POS=#{y_pos},
		SIDO_NAME=#{sido_name},
		SGG_NAME=#{sgg_name},
		EMD_NAME=#{emd_name},
		LI_NAME=#{li_name}
	WHERE TUNER_SEQ=#{tuner_seq}
	</update>
	<update id="updateUser" parameterType="UserDTO">
	UPDATE USERINFO SET
		EMAIL=#{email},
		<if test="password!=null">
		PASSWORD=#{password},
		</if>
		<if test="user_state==5">
		USER_STATE=0,
		</if>
		USER_NICK=#{user_nick},
		USER_TEL=#{user_tel},
		UPDDATE=SYSDATE,
		UPDATER_SEQ=#{user_seq}
	WHERE USER_SEQ=#{user_seq}
	</update>
	<select id="getTunerAddr" parameterType="String" resultType="TunerDTO">
	SELECT ADDR, X_POS, Y_POS FROM TUNER WHERE TUNER_SEQ=#{0}
	</select>
	<select id="getPendingTunerListCnt" resultType="Integer">
	SELECT COUNT(1) FROM USERINFO WHERE USER_STATE=0
	</select>
	<select id="getPendingTunerList" parameterType="String" resultType="TunerDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			TUNER_SEQ,
			TUNER_NAME,
			TUNER_LEVEL,
			REGDATE
		FROM
			(SELECT
				U.USER_SEQ AS TUNER_SEQ,
				U.USER_NAME AS TUNER_NAME,
				T.TUNER_LEVEL AS TUNER_LEVEL,
				U.REGDATE AS REGDATE
			FROM
				USERINFO U, TUNER T
			WHERE
				U.USER_SEQ = T.TUNER_SEQ
				AND U.USER_STATE = 0
			ORDER BY
				U.UPDDATE DESC
			)
		)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getTunerListCnt" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		TUNER T,
		USERINFO U
	WHERE 
		U.USER_SEQ = T.TUNER_SEQ
		AND U.USER_STATE NOT IN(0, 2)
	</select>
	<select id="getTunerList" parameterType="String" resultType="TunerDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			ID,
			TUNER_SEQ,
			TUNER_NAME,
			TUNER_LEVEL,
			USER_STATE,
			REGDATE
		FROM
			(SELECT
				U.USER_SEQ AS TUNER_SEQ,
				U.ID AS ID,
				U.USER_NAME AS TUNER_NAME,
				T.TUNER_LEVEL AS TUNER_LEVEL,
				U.REGDATE AS REGDATE,
				U.USER_STATE AS USER_STATE
			FROM
				USERINFO U, TUNER T
			WHERE
				U.USER_SEQ = T.TUNER_SEQ
				AND U.USER_STATE NOT IN(0, 2)
			ORDER BY
				TUNER_SEQ DESC
			)
		)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getUserListCnt" resultType="Integer">
	SELECT
		COUNT(1)
	FROM
		USERINFO
	WHERE
		USER_TYPE=0
	</select>
	<select id="getUserList" parameterType="String" resultType="UserDTO">
	SELECT * FROM
		(SELECT
			ROWNUM AS RN,
			USER_SEQ,
			ID,
			USER_NAME,
			USER_NICK,
			USER_STATE,
			REGDATE
		FROM
			(SELECT
				USER_SEQ,
				ID,
				USER_NAME,
				USER_NICK,
				USER_STATE,
				REGDATE
			FROM
				USERINFO
			WHERE
				USER_TYPE=0
			ORDER BY
				USER_SEQ DESC
			)
		)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<update id="acceptTuner" parameterType="String">
	UPDATE
		USERINFO
	SET
		USER_STATE=1
	WHERE
		USER_SEQ=#{0}
	</update>
	<update id="suspendUser" parameterType="String">
	UPDATE
		USERINFO
	SET
		USER_STATE=3,
		SUSPEND_REASON=#{1}
	WHERE
		USER_SEQ=#{0}
	</update>
	<update id="recoverUser" parameterType="String">
	UPDATE
		USERINFO
	SET
		USER_STATE=1,
		SUSPEND_REASON=NULL
	WHERE
		USER_SEQ=#{0}
	</update>
	<update id="rejectTuner" parameterType="TunerDTO">
	UPDATE
		USERINFO
	SET
		USER_STATE=2
	WHERE
		USER_SEQ=#{tuner_seq}
	</update>
	<update id="updateRejectReason" parameterType="TunerDTO">
	UPDATE
		TUNER
	SET
		REJECT_REASON=#{reject_reason}
	WHERE
		TUNER_SEQ=#{tuner_seq}
	</update>
</mapper>