<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">
	<!-- 로그인 -->
	<select id="loginProc" resultType="UserDTO">
		SELECT * FROM USERINFO
		WHERE
		ID = #{id} AND PASSWORD = #{password}
	</select>
	<select id="pwCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(1) FROM USERINFO
		WHERE
		USER_SEQ = #{0} AND PASSWORD = #{1}
	</select>
	<!-- 조율사 회원가입 -->
	<insert id="regTuner">
		INSERT ALL
			INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ
			) VALUES(
				USER_SEQ.NEXTVAL,
				1,
				#{u.id},
				#{u.email},
				#{u.password},
				#{u.user_name},
				#{u.user_sex},
				#{u.user_nick},
				#{u.user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL
			)
		
			INTO TUNER(
				TUNER_SEQ,
				ID_PHOTO_DIR,
				CERT_DIR,
				TUNER_COMMENT,
				TUNER_LEVEL,
				TUNER_EXP,
				ADDR,
				AFFILIATION,
				X_POS,
				Y_POS,
				SIDO_NAME,
				SGG_NAME,
				EMD_NAME,
				LI_NAME
			)
			VALUES(
				USER_SEQ.CURRVAL,
				#{t.id_photo_dir},
				#{t.cert_dir},
				#{t.tuner_comment},
				#{t.tuner_level},
				#{t.tuner_exp},
				#{t.addr},
				#{t.affiliation},
				#{t.x_pos},
				#{t.y_pos},
				#{t.sido_name},
				#{t.sgg_name},
				#{t.emd_name},
				#{t.li_name}
			)
		SELECT * FROM DUAL
		<selectKey keyProperty="u.user_seq" resultType="String" order="AFTER">
			SELECT USER_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<!-- 일반 회원가입 -->
	<insert id="regUser">
		INSERT INTO USERINFO(
				USER_SEQ,
				USER_TYPE,
				ID,
				EMAIL,
				PASSWORD,
				USER_NAME,
				USER_SEX,
				USER_NICK,
				USER_TEL,
				REGDATE,
				UPDDATE,
				UPDATER_SEQ
			) VALUES(
				USER_SEQ.NEXTVAL,
				0,
				#{id},
				#{email},
				#{password},
				#{user_name},
				#{user_sex},
				#{user_nick},
				#{user_tel},
				SYSDATE,
				SYSDATE,
				USER_SEQ.CURRVAL
			)
	</insert>
	<delete id="deleteUser" parameterType="String">
	DELETE FROM USERINFO WHERE USER_SEQ=#{0}
	</delete>
	<insert id="addTunerSgg" parameterType="String">
	INSERT INTO TUNER_SGG VALUES(#{0}, #{1})
	</insert>
	<delete id="clearTunerSgg" parameterType="String">
	DELETE FROM TUNER_SGG WHERE USER_SEQ=#{0}
	</delete>
	<select id="checkID" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(ID) FROM USERINFO WHERE ID = #{value}
	</select>
	<select id="checkEmail" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(EMAIL) FROM USERINFO WHERE EMAIL = #{value}
	</select>
	<select id="checkEditEmail" parameterType="String" resultType="UserDTO">
	SELECT DISTINCT(EMAIL) FROM USERINFO WHERE EMAIL = #{0} AND USER_SEQ &lt;&gt; #{1}
	</select>
	<select id="findUserID" parameterType="String" resultType="String">
	SELECT ID FROM USERINFO WHERE EMAIL = #{email} 
	</select>
	<select id="recoverPw" resultType="UserDTO">
	SELECT USER_SEQ, PASSWORD, EMAIL FROM USERINFO WHERE ID = #{id}
	</select>
	<update id="shufflePw" parameterType="String">
	UPDATE USERINFO SET PASSWORD = #{0} WHERE ID = #{1}
	</update>
	<update id="recoverPwProc" parameterType="String">
	UPDATE USERINFO SET PASSWORD = #{0} WHERE PASSWORD = #{1}
	</update>
	
	<!-- myPage -->
	<select id="getUserInfo" parameterType="String" resultType="UserDTO">
	SELECT
		EMAIL,
		USER_NAME,
		USER_NICK,
		USER_TEL
	FROM USERINFO
	WHERE
		USER_SEQ = #{0}
	</select>
		<select id="getUserEditInfo" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		EMAIL,
		USER_NICK,
		USER_TEL
	FROM USERINFO
	WHERE
		USER_SEQ = #{user_seq}
	</select>
	<select id="getTunerInfo" parameterType="String" resultType="TunerDTO">
	SELECT
		TUNER_SEQ,
		ID_PHOTO_DIR,
		TUNER_COMMENT,
		TUNER_LEVEL,
		TUNER_EXP,
		ADDR,
		AFFILIATION
	FROM TUNER
	WHERE
		TUNER_SEQ = #{0}
	</select>
	<select id="getTunerEditInfo" parameterType="String" resultType="TunerDTO">
	SELECT
		ID_PHOTO_DIR,
		CERT_DIR,
		TUNER_COMMENT,
		TUNER_LEVEL,
		TUNER_EXP,
		ADDR,
		AFFILIATION,
		X_POS,
		Y_POS,
		SIDO_NAME,
		SGG_NAME,
		EMD_NAME,
		LI_NAME
	FROM TUNER
	WHERE
		TUNER_SEQ = #{0}
	</select>
	<update id="updateTuner" parameterType="TunerDTO">
	UPDATE TUNER SET
		TUNER_COMMENT=#{tuner_comment},
		TUNER_LEVEL=#{tuner_level},
		TUNER_EXP=#{tuner_exp},
		<if test="id_photo_dir!=null">
		ID_PHOTO_DIR=#{id_photo_dir},
		</if>
		ADDR=#{addr},
		AFFILIATION=#{affiliation},
		X_POS=#{x_pos},
		Y_POS=#{y_pos},
		SIDO_NAME=#{sido_name},
		SGG_NAME=#{sgg_name},
		EMD_NAME=#{emd_name},
		LI_NAME=#{li_name}
	WHERE TUNER_SEQ=#{tuner_seq}
	</update>
	<update id="updateUser" parameterType="UserDTO">
	UPDATE USERINFO SET
		EMAIL=#{email},
		<if test="password!=null">
		PASSWORD=#{password},
		</if>
		USER_NICK=#{user_nick},
		USER_TEL=#{user_tel},
		UPDDATE=SYSDATE,
		UPDATER_SEQ=#{user_seq}
	WHERE USER_SEQ=#{user_seq}
	</update>
	<select id="getTunerAddr" parameterType="String" resultType="TunerDTO">
	SELECT ADDR, X_POS, Y_POS FROM TUNER WHERE TUNER_SEQ=#{0}
	</select>
</mapper>